name: Push images to ghcr.io

on:
  push:

permissions: write-all

jobs:
  push:
    name: "Build Docker"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get short SHA for tag
        id: truncatedString
        run: echo "string=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_OUTPUT

      - uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/bun-discord-bot:latest
            ghcr.io/${{ github.repository_owner }}/bun-discord-bot:${{ steps.truncatedString.outputs.string }}
